/* Style for the navbar brand */
.navbar-brand {
    display: flex;
    align-items: center; /* Vertically center the items in the navbar */
    text-decoration: none; /* Remove underline from the link */
    color: #2e2003; /* Set the color of the text */
    font-weight: bolder; /* Make the brand name bolder */
    font-size: 2.2em; /* Increase the font size of the brand name */
}

.navbar-brand img {
    height: 30px; /* Set the height of the logo */
    margin-right: 10px; /* Add space between the logo and the text */
    width: auto; /* Maintain the aspect ratio of the logo */
}

/* Ensure the text aligns nicely with the logo */
.navbar-brand span {
    vertical-align: middle;
}
/* Navigation bar styling */
/* Ensure that the navigation container uses flex to align items */
.navbar {
    background-color: #ffffff; /* Change the background color as needed */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Adds a shadow for some depth */
}

/* Ensure that the navigation container uses flex to align items in a row */
.navbar-nav {
    display: flex; /* Enables flexbox */
    list-style: none; /* Removes list bullets */
    padding: 0; /* Removes default padding */
    width: 60%; /* Full width to contain all items */
    align-items: center; /* Centers items vertically */
    justify-content: space-between; /* Evenly spaces items across the header */
}

/* Styling for each navigation item */
.nav-item {
    padding: 12px 16px; /* Adds padding for spacing and touch area */
}

/* Link styling */
.nav-link {
    color: #034b0a; /* Sets the text color */
    text-decoration: none; /* Removes underline from links */
    font-weight: bold; /* Makes the font bold */
    transition: color 0.3s ease-in-out; /* Smooth transition for hover effects */
}

.nav-link:hover, .nav-link:focus {
    color: #d67f21; /* Color changes on hover or focus for visibility */
}

/* This CSS part is important for responsiveness */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column; /* Stacks the navigation items vertically on smaller screens */
        justify-content: center; /* Centers the items vertically */
    }

    .navbar-toggler {
        display: block; /* Ensures the toggle button is displayed on smaller screens */
        margin-left: auto; /* Aligns the toggle button to the right */
    }

    .collapse:not(.show) {
        display: none; /* Hides the navigation items when the navbar is collapsed */
    }

    .navbar-collapse {
        margin-top: 12px; /* Adds a top margin for spacing */
    }
}
